<footer class="footer">
    <div class="footer--container">
        <small class="footer--container__title">Desarrolla cócteles | bebidas coquetas by <a class="footer--container__link" href="https://github.com/LaiaRuizM" title="GitHUb de Laia Ruiz Martínez" target="_blank">&copy;LaiaRuizM<i class="footer--container__icon fa-brands fa-github"></i></a></small>
    </div>
    <div class="footer--container2">
        <img src="./assets/images/logo.png" alt="Cocktail Laia's Logo" class="footer--container2__img">
    </div>
    <p class="footer--p">
        <a class="footer--p__link" href="https://adalab.es/" target="_blank">&copy;Adalab <span class="footer--p__span">2023</span></a>
    </p>
</footer>
