<header class="header">
    <h1 class="header--title">Desarrolla cócteles | Bebidas coquetas</h1>
    <h2 class="header--title__2">All you need is attitude</h2>
  <div class="header--container">
    <video data-v-27edef16="" data-test="video-content" preload="auto"
      src="https://cdn.dribbble.com/userupload/3494436/file/original-ea8f0e8fddc1682e5273ca37a272612e.mp4"
      playsinline="true" loop="loop" draggable="false" class="header--container__drinks js-moveDrinks" autoplay="autoplay">
    </video>
  </div>
  <div class="header--container2">
    <p class="header--container2__p">
      Hay momentos que merecen un buen brindis. Let's toast!<i
        class="header--container2__icon fa-solid fa-champagne-glasses"
      ></i>
    </p>
  </div>
</header>

