<header class="header">
    <h1 class="header--title">Desarrolla cócteles | Bebidas coquetas</h1>
    <h2 class="header--title__2">All you need is attitude</h2>
  <div class="header--container">
    <video data-v-27edef16="" data-test="video-content" preload="auto"
      src="https://cdn.dribbble.com/userupload/3494436/file/original-ea8f0e8fddc1682e5273ca37a272612e.mp4"
      playsinline="true" loop="loop" draggable="false" class="header--container__drinks js-moveDrinks" autoplay="autoplay">
    </video>  
    <p class="header--container__p">
      Hay momentos que merecen un buen brindis. Let's toast!<i
        class="fa-solid fa-champagne-glasses"
      ></i>
    </p>
  </div>
</header>

    <!-- <img src="https://cdn.dribbble.com/users/1578200/screenshots/15524634/media/2345904b26ea7b27374117fb9df112e0.gif"
          title="Cocktail" alt="Cocktail" class="header--container__animatedCocktail" /> -->
