<main class="main">
    <section class="main--section--1">
        <!-- <img src=".assets/images/logo-x.png" alt="cocktail-logo"> -->
        <h2>Buscador de cócteles</h2> <!--posible h2-->
        <form action="#" method="get">
        <input class="js-input" type="text" placeholder="¡Busca un delicious cocktail!" title="Introduce aquí el nombre del delicious cocktail"/>
        <input class="js-searchBtn" type="button" value="Buscar" title="Haz click aquí para buscar un delicious cocktail"/>
        <input class="js-resetBtn" type="button" value="Reset" title="Haz click aquí para reiniciar la delicious búsqueda"/>
        </form>
    </section>
    <section class="section--2">
        <article>
            <h3>Resultados</h3>
            <ul class="js-cocktailsUl"></ul>
        </article>
        <article>
            <h3>Favoritos</h3>
            <ul class="js-favoritesUl"></ul>
        </article>
    </section>
</main>