<main class="main">
    <section class="section--1">
        <h2>Buscador de cócteles</h2>
        <form action="#">
        <input class="js-input" type="text" placeholder="¡Busca un delicious cóctel!"/>
        <input class="js-searchBtn" type="button" value="Buscar"/>
        <input class="js-resetBtn" type="button" value="Reset"/>
        </form>
    </section>
    <section class="section--2">
        <article>
            <h3>Resultados</h3>
            <ul class="js-cocktails"></ul>
        </article>
        <article>
            <h3>Favoritos</h3>
            <ul class="js-favorites"></ul>
        </article>
    </section>
</main>