<main class="main">
    <section class="main--section--1">
        <h2 class="main--section--1__title">Buscador de cócteles</h2>
        <form class="main--section--1__inputs" action="#" method="get">
        <input class="main--section--1__inputs__value js-input" type="text" placeholder="¡Busca un delicious cocktail!" title="Introduce aquí el nombre del delicious cocktail"/>
        <input class="main--section--1__inputs__search js-searchBtn" type="button" value="Buscar" title="Haz click aquí para buscar un delicious cocktail"/>
        <input class="main--section--1__inputs__reset js-resetBtn" type="button" value="Reset" title="Haz click aquí para reiniciar la delicious búsqueda"/>
        <input class="main--section--1__inputs__log js-logBtn" type="button" value="Log" title="Interview">
        </form>
        <div class="main--section--1__div">
            <img src="https://cdn.dribbble.com/users/1578200/screenshots/15524634/media/2345904b26ea7b27374117fb9df112e0.gif" title="Cocktail" alt="Cocktail" class="main--section--1__div__animatedCocktail" />
        </div>
    </section>
    <section class="main--section--2">
        <article class="main--section--2--article1">
            <h2 class="main--section--2--article1__title">Resultados</h2>
            <ul class="class=main--section--2--article1__ul js-cocktailsUl"></ul>
        </article>
        <article class="main--section--2--article2">
            <h2 class="main--section--2--article2__title">Favoritos</h2>
            <ul class="main--section--2--article2__ul js-favoritesUl"></ul>
            <button class="main--section--2--article2__delete js-delete hidden">¡Borra tus favoritos<span main--section--2--article2__delete__span>♡</span>!</button>
        </article>
    </section>
</main>

