.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 4px $color-grey;
   padding: 0 35px;
   height: 100px;
   margin-top: 40px;
   &--container {
    display: flex;
    align-items: center;
    gap: 20px;
    &__title {
    font-family: 'Indie Flower', cursive;
    color: $color-grey;
    font-size: 18px;
    }
    &__link {
        text-decoration: none;
        cursor: alias;
        color: $color-pink;
        font-family: 'Indie Flower', cursive;
        cursor: alias;
        font-size: 20px;
    }
   }
   &--container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 200px;
    &__img {
        width: 150px;
        height: 150px;
        box-shadow: 0px 10px 10px -6px black;
        margin-bottom: 5px;
    }
   }
   &--p {
    display: flex;
    align-items: center;
    &__link {
        font-family: 'Indie Flower', cursive;
        cursor: alias;
        text-decoration: none;
        color: $color-pink;
        font-size: 20px;
    }
    &__span {
        font-family: 'Indie Flower', cursive;
        cursor: alias;
        text-decoration: none;
        color: $color-grey;
    }
   }
}

.fa-brands{
    color: $color-pink;
    margin: 5px 0 0 10px;
    cursor: pointer;
    &:hover {
        transform: scale(140%);
    }
}
