.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $color-background-gr-wh;
    &--title {
        font-size: 60px;
        font-weight: 600;
        padding: 25px 0 25px 0;
        background: $color-background-grx2;
        color: whitesmoke;
        font-family: 'Indie Flower', cursive; 
    &__2 {
        font-size: 20px;
        padding-left: 50px;
        background-color: $color-background-pink;
        color: $color-grey;
        font-family: 'Indie Flower', cursive;
        margin-top: 20px;
    }
    }
    &--container {
        margin-left: 35px;
    &__drinks {
        transition: 5s ease-in-out;
        transform: scaleX(-1.5);
        cursor: move;
        height: 150px;
        margin: 20px 180px 20px 180px;
        border:$color-background-pinkdashed2;
    }
    }
    &--container2 {
    &__p {
        padding-left: 50px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: $color-background-pink;
        color: $color-grey;
        font-family: 'Indie Flower', cursive;
    }
    &__icon {
        width: 50px;
        color: black;
    }
    }
}


