@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.section--2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgrey;
}

.cocktailImg {
    height: 295px;
    width: 210px;
}

.selected {
    background-color: lightcoral;
    color: white;
}

.animatedCocktail {
    height: 100px;
    width: 120px;
    filter: fliph;
}

.header {
    margin-left: 0;
    &--back {
        transform: scaleX(-1);
        //filter: fliph;
        cursor: pointer;
        padding: 20px;
        height: 100px;
        width: 120px;
        transition: margin-left 3s ease-in-out;
    }
}



