@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.section--2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgrey;
}

.cocktailImg {
    height: 295px;
    width: 210px;
}

.selected {
    background-color: lightcoral;
    color: white;
}


